.agv-button
  border 1px solid mainColor
  color mainColor
  border-radius 3px
  padding 15px 10px
  background mainOpponent

  margin-bottom 15px
  outline none
  cursor pointer
  @media up_to_M
    min-width 100%
  @media M_and_up
    width 15rem
    max-width 100%


  &:hover
    -webkit-transition all ease 0.3s
    transition all ease 0.3s
    background-color mainColor
    color mainOpponent
  &--primary, &--full-attention
    background-color mainColor
    border 1px solid mainColor
    color mainOpponent
    font-weight: bold;
    &:hover
      background-color darken(mainColor, 10%)
  &--full-attention
    min-width 100%
    font-size 1.3em
  &--link
    border none
    background transparent
    text-decoration underline
    width auto
    display inline-block
    &:hover
    &:active
      background transparent
      border none
      color mainHoverColor
  &--large
    width auto

  &-set
    margin-top .5em
    &--right
      text-align right
    .agv-button
      margin-right .75em
      &:last-child
        margin-right 0
