.agv
  &-main
    padding 0
    margin 0
    font-size 1rem
  &-list
    list-style-type none
    padding 0
    margin 0
  &-cart
    &__list
      vertical-align top
      &--tiled
        display inline-block
        width 70%
        padding-left 1em
        border-left 1px solid #ccc


    &__user
      width 30%
      display inline-block
      vertical-align top
      padding-right 1em
    &__item
      border 1px solid shadow
      padding .75em
      margin-bottom .5em
      border-radius .25em
      color shadowFont
      background-color shadowBackground
      &--chosen
      //&:hover
        border 1px solid active
        background-color activeBackground
        color activeFont
    &__department
      color activeFont
      //&:hover
      //  cursor pointer
