.agv-form
  &__label
    display block
  &__row
    margin mainPadding 0
    &--centered
      text-align center
    &--right
      text-align right
    &--left
      text-align left
  &__input
    width 100%
    padding mainPadding
    &[readonly]
      border transparent
      display inline
      background transparent
