tableInnerSpacing = 10px;
.stage
    display flex
    &__schedule
    &__single
      padding tableInnerSpacing
      transition all .75s
    &__schedule
      flex-grow 1
    &__single
      width 25vw
      max-width 25vw
      border-left 2px solid alto

.main
  margin 16px
.times
  margin-left (100px + tableInnerSpacing)
  p
    display inline-block
    padding 10px
    border 1px solid #eee

.places
  width 100%

.place

  &:first-child
    marin-left 0
  &__name
    width 100px
    display inline-block
    vertical-align top
    margin-right tableInnerSpacing
  &__line
    border-bottom 1px solid black
    padding 8px 0
  &__slot

    width 100px
    display inline-block
    vertical-align top
    margin-right mainPadding
    min-height 50px
    border-radius 3px
    cursor pointer
    &--empty
      outline 1px dashed
    &:first-child
      opacity .75
      outline none



.tags
  outline 1px solid

.tag
  padding 5px
  margin 5px
  border 1px solid #e4e4e4
  white-space: nowrap;
  display inline-block
  cursor pointer
  &--selected
    border-color #10aded

.workshops
  display inline-block
  vertical-align baseline
  &__time
    padding-left 8px
  &__item
    border 1px solid #eee
    display inline-block

    float left
    width 100px
    padding 8px
    margin-right 8px

label
  display block
  padding 5px

.server
  position fixed
  bottom 0
  right 0
  font-weight bold
  color #a4a4a4
  opacity .75
