.event-managr
  margin-bottom 5px
  .clear
    clear both
  .label
    display block
  .center
    text-align center
  .right
    text-align right
  .spacer
    margin-bottom 10px
    margin-top 10px
    height 1px
    border-bottom 1px solid #ccc
    display none
    display block
  .tabContent
    //padding 15px
    .editPane
      padding 10px
    .term
      span
        display inline-block
        padding 3px
        border 1px solid #ccc
        border-radius 2px
        margin 2px
        cursor pointer
        -webkit-touch-callout none
        -webkit-user-select none
        -khtml-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none
        &.checked
          background #10aded
          border-color #10aded
          color #fff
    h3
      padding 0 10px
  .button
    border 1px solid #10aded
    color #10aded
    border-radius 3px
    padding 15px 10px
    background #fff
    -webkit-transition all ease 0.3s
    transition all ease 0.3s
    margin-bottom 15px
    margin 5px 0px
    margin 0px 5px
    float right
    &:hover
      background #ddd
      -webkit-transition all ease 0.3s
      transition all ease 0.3s
      background-color #0d8abd
      color #fff
    &.primary
      background-color #10aded
      border 1px solid #10aded
      color #fff
      font-weight bold
  .plain
    padding 0px
    margin 10px 0px
    list-style-type none
  .error
    color #ff3344
    border 1px solid #ff3344
    border-radius 3px
    padding 5px 10px
    margin 5px 0px
    font-weight bold
  .message
    color #42be17
    border 1px solid #006600
    border-radius 3px
    padding 5px 10px
    margin 5px 0px
    font-weight bold
  .tabs
    padding-top 20px
    padding-bottom 7px
    border-bottom 1px solid #10aded
    .tab
      border-top 1px solid #ccc
      border-right 1px solid #ccc
      border-left 1px solid #ccc
      color #10aded
      padding 10px
      border-top-left-radius 5px
      border-top-right-radius 5px
      cursor pointer
      transition all ease 0.3s
      border-color #10aded
      &.active
        color #fff
        background-color #10aded
        font-weight bold
      &:hover
        background-color #0d8abd
        color #fff
  .workshopList
    border-bottom 1px solid #ccc
    padding-bottom 10px
  .buttonSet
    &.pair
      .button
        min-width 40%
  .term
    @media L_and_up
      width 50%
      float left

.event-managr p, .event-managr label
  margin 0px
  padding 0px

.event-managr input[type=text],
.event-managr input[type=password],
.event-managr input[type=number],
.event-managr textarea
  width 100%

.event-managr input[type=checkbox]
  -webkit-appearance checkbox

.event-managr .workshopList,
.event-managr .tabContent form.single
  padding 10px

@media (max-width:  720px)
  .event-managr .button
    width 100%
    min-width 100%


@media (min-width  721px)
  .event-managr .buttonSet:after
    clear: both
