html
  head
    link(rel="stylesheet" href="styles/event-managr.css")
  body
    h1 some really useful development shit
    div(ng-app="eventManagrCart" class="agv-base")
      div(ng-view="")
    
    script(src="fixtures/APP_SETTINGS.js")
    script(src="scripts/vendor.js")
    script(src="scripts/event-managr.js")
