html
  head
    link(rel="stylesheet" href="styles/event-managr.css")
  body
    h1 some really useful development shit
    div#agv-reg
    script(src="fixtures/APP_SETTINGS.js")
    script(src="scripts/Timetable.js")
    script.
      var div = document.getElementById('agv-rep');
      //var timetable = Elm.fullscreen(Elm.Main, { servingRoot : "localhost:8080" });  
      //- setTimeout(function(){
      //-   console.log("changing root");
      //-   timetable.ports.servingRoot.send("localhost:8080");   
      //-   console.log(timetable.ports.servingRoot);     
      //- }, 5000);
      
      console.log(Elm);

      var form = Elm.TimeTable.fullscreen();
      
      setTimeout(function(){
        console.log("changing root");
        form.ports.servingRoot.send("localhost:8080");   
        console.log(form.ports.servingRoot);     
      }, 0);
      
