toast
.agv-main
  h1 Dein Engagement fürs Freakstock
  div(ng-if="cart")
    div.agv-cart__user(ng-controller="authenticationController",ng-hide="cart.user")
      div(inline-login)
    div.agv-cart__user(ng-show="cart.user") 
      Editable-User(user="cart.user")
      
    div.agv-cart__list.agv-cart__list--tiled
      h2(ng-show="cart.invitation") So bereicherst du Freakstock
      h2(ng-show="!cart.invitation") Deine Möglichkeiten Freakstock zu bereichern
      ul.agv-list.agv-cart(ng-cloak)
        li.agv-cart__item.agv-cart__item--chosen(ng-repeat="item in cart.lineItems")
         |  Mitarbeit im Bereich <i>{{item.post_title}}</i>

      ul.agv-list.agv-cart(ng-cloak, ng-show="!cart.invitation")
        li.agv-cart__item(ng-if="cart.lineItems.length == 0") Mitarbeit in Bereichen
          //pre {{ cart.lineItems | json }}
        li.agv-cart__item Teilnahme am Aufbau
        li.agv-cart__item Teilnahme am Abbau
        li.agv-cart__item Anbieten eines Workshops
      button.agv-button.agv-button--primary(ng-show="cart.user && !cart.invitation && cart.lineItems.length > 0",ng-click="tender()") Engagieren
