form(ng-show='isAuthenticationRequired', name='authenticationForm', ng-submit='getLogin()')
  p
    label(labelfor='email') Email
    input(type='email', name='email', placeholder='email', ng-model='name', ng-required='true')
  p
    label Password
    input(type='password', name='password', placeholder='password', ng-model='pw', ng-required='true')
  .animate-repeat(ng-repeat='error in errors')
    p.error(ng-bind-html='error.message')
  p.buttonSet.pair.right
    input.button.primary(type='submit', ng-click='getLogin()', value='Weiter mit eigenem Konto')
    button.button(ng-click='register()') Neues Konto registrieren
