h2 Melde dich an und werde teil
form.agv-form
  .agv-form__row
    label.agv-form__label(labelfor='email') Email
    input.agv-form__input(type='email', name='email', placeholder='email', ng-model='name', ng-required='true')
  .agv-form__row
    label.agv-form__label(labelfor='password') Passwort
    input.agv-form__input(type='password', name='password', placeholder='password', ng-model='pw', ng-required='true')
  .animate-repeat(ng-repeat='error in errors')
    p.error(ng-bind-html='error.message')
  .agv-form__row.agv-form__row--centered
    button.agv-button.agv-button--primary(ng-click='getLogin()') Weiter mit eigenem Konto
  .agv-form__row.agv-form__row--centered  
    button.agv-button(ng-click='register()') Neues Konto registrieren
