h2 Deine persönlichen Daten
.agv-form__row
  label.agv-form__label(ng-show="editable") Vorname:
  input.agv-form__input(ng-model="me.firstName",ng-readonly="!editable")
  label.agv-form__label(ng-show="editable") Nachname:

  input.agv-form__input(ng-model="me.lastName",ng-readonly="!editable")
.agv-form__row
  label.agv-form__label(ng-show="editable") PLZ:

  input.agv-form__input(ng-model="me.zip",ng-readonly="!editable")
.agv-form__row
  label.agv-form__label(ng-show="editable") Email:
  input.agv-form__input(ng-model="me.email",ng-readonly="!editable")
.agv-form__row.agv-form__row--right
  button.agv-button.agv-button(ng-click="saveUser()" ng-show="editable") Speichern
  button.agv-button.agv-button--link(ng-click="toggleEdit()") {{ buttontext }}
